<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-tacs-plugin" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TACS</name>
    <js-module name="TACS" src="www/TACS.js">
        <clobbers target="TACS"/>
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TACSPlugin">
                <param name="android-package" value="com.hufsm.sixsense.tacs.TACSPlugin"/>
            </feature>
        </config-file>
        <framework src="src/android/tacs.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/TACSPlugin.java" target-dir="src/com/hufsm/sixsense/tacs"/>
        <resource-file src="libs/android/ble-2.15.1.aar" target="libs/ble.aar" />
        <resource-file src="libs/android/tacs-1.4.1.aar" target="libs/tacs.aar" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="TACSPlugin">
                <param name="ios-package" value="TACSPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/TACSPlugin.swift" target-dir="src"/>
        <podspec>
          <config>
            <source url="https://cdn.cocoapods.org/"/>
          </config>
          <pods use-frameworks="true">
            <pod name="TACS" options=":path => '../../node_modules/cordova-plugin-tacs/libs/ios/TACS'" />
            <pod name="SecureAccessBLE" options=":path => '../../node_modules/cordova-plugin-tacs/libs/ios/SecureAccessBLE'" />
          </pods>
        </podspec>
    </platform>
</plugin>